# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Dependency directories
jspm_packages/

# Build directories
build/
dist/

# Temporary files
*.tmp
*.swp

# IDE and editor files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Test files and coverage
coverage/
*.lcov

# Debugging files
*.pid
*.gz
*.stackdump

# Miscellaneous
*.tgz
